/*Colors
### Primary

- Lime: hsl(61, 70%, 52%)
- Red: hsl(4, 69%, 50%)

### Neutral

- White: hsl(0, 0%, 100%)
- Slate 100: hsl(202, 86%, 94%)
- Slate 300: hsl(203, 41%, 72%)
- Slate 500: hsl(200, 26%, 54%)
- Slate 700: hsl(200, 24%, 40%)
- Slate 900: hsl(202, 55%, 16%)
*/



/*Global start----------------------------------------------------------------*/

:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --lightBlue: hsl(202, 86%, 94%);
  --blue300: hsl(203, 41%, 72%);
  --blue500: hsl(200, 26%, 54%);
  --blue700: hsl(200, 24%, 40%);
  --darkBlue: hsl(202, 55%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
form,
button,
div,
input {
  font-family: "Plus Jakarta Sans", sans-serif;
}

p {
  line-height: 1.5em;
}

body {
  background-color: var(--lightBlue);

}

/*Global end -----------------------------------------------------------------*/



/*Card start -----------------------------------------------------------------*/

#card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60rem;
  margin: auto;
  margin-top: 15vh;
  border-radius: 30px;
  width: 900px;
}

#left {
  grid-column: 1/2;
  padding: 2rem;
}

#right {
  grid-column: 2/3;
  background-color: var(--darkBlue);
  color: white;
  border-radius: 0 30px 30px 70px;
  padding: 2rem;
}

/*Card end -------------------------------------------------------------------*/



/*Form start -----------------------------------------------------------------*/
form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#formTitle {
  grid-column: 1/5;
  width: 100%;
}

#clearAll {
  grid-column: 5/7;
  width: 100%;
  text-align: right;
  align-self: last baseline;
  color: var(--blue700);
  font-weight: 500;
  text-decoration: underline;
}

.inputType {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--blue700);
  background-color: var(--lightBlue);
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  border: solid, 1.5px, var(--blue500);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

form input {
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding-left: 1rem;
  color: var(--darkBlue);

  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.label {
  color: var(--blue700);
  margin-bottom: 1rem;
}

/*Amount start ------------------------------------------------*/
#amount {
  grid-column: 1/7;
  width: 100%;
}

#amountWrapper {
  height: 3rem;
  margin-top: 0.5rem;
  display: flex;
}

#pound {
  border-radius: 4px 0 0 4px;
}

#amountInput {
  border: none;
  flex-grow: 1;
}

/*Amount end --------------------------------------------------*/



/*Term start --------------------------------------------------*/

#term {
  grid-column: 1/4;
  width: 100%;
}

#termWrapper {
  margin-top: 0.5rem;
  height: 3rem;
  display: flex;
}

#years {
  border-radius: 0 5px 5px 0;
}

#termInput {
  width: 100%;
  flex-grow: 1;
}

/*Term end ----------------------------------------------------*/



/*Interest rate start -----------------------------------------*/

#interestRate {
  grid-column: 4/7;
  width: 100%;
}

#interestRateWrapper {
  margin-top: 0.5rem;
  height: 3rem;
  display: flex;
}

#percent {
  border-radius: 0 5px 5px 0;
}

#interestRate input {
  width: 100%;
  flex-grow: 1;
}

/*Interest rate end -------------------------------------------*/



/*Radio buttons start------------------------------------------*/

#radioButtons {
  grid-column: 1/7;
  width: 100%;
}

#repayment {
  width: 100%;
  height: 3rem;
  font-size: 18px;
  font-weight: 700;
}

#interestOnly {
  width: 100%;
  height: 3rem;
  font-size: 18px;
  font-weight: 700;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--darkBlue);
}

.radioButton {
  border: solid 1.5px var(--blue500);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  margin: 0;

  &:hover {
    border-color: var(--lime);
  }
}


input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  appearance: none;
  border: 2px solid var(--blue700);
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:checked {
    border-color: var(--lime);
    background-color: var(--lime);
    box-shadow: inset 0 0 0 3px white;
  }
}


/*Radio buttons end--------------------------------------------*/



/*Errors start ------------------------------------------------*/
.error {
  font-size: 14px;
  margin-top: 5px;
  color: var(--red);
}

/*Errors end --------------------------------------------------*/



form button {
  grid-column: 1/5;
  height: 3rem;
  margin-top: 0.5rem;
  background-color: var(--lime);
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  color: var(--darkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;


  &:hover {
    background-color: hsl(61, 76%, 69%);
  }

}

/*Form end -------------------------------------------------------------------*/



/*Results start ---------------------------------------------------------------*/



/*Empty results start------------------------------------------*/

#emptyResults {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

#emptyResults p {
  color: var(--blue300);
  text-align: center;
}



/*Empty results end -------------------------------------------*/



/*Populated results start --------------------------------------*/

#completedResults {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#resultsBox {
  height: min-content;
  background-color: black;
  border-radius: 7px;
  padding: 0 2rem 0 2rem;
  box-shadow: 0 -3px var(--lime);
}

#monthlyPaymentsBox {
  border-bottom: 1px solid var(--blue700);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

#monthlyPaymentsTitle {
  color: var(--blue300);
}

#monthlyPaymentsNumber {
  color: var(--lime);
  font-weight: 700;
  font-size: 60px;
}

#totalPaymentsBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#totalPaymentsTitle {
  color: var(--blue300);
}

#totalPaymentsNumber {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0.5rem;
}

/*Populated results end --------------------------------------*/

/*Results end ---------------------------------------------------------------*/
