/*Colors
### Primary

- Lime: hsl(61, 70%, 52%)
- Red: hsl(4, 69%, 50%)

### Neutral

- White: hsl(0, 0%, 100%)
- Slate 100: hsl(202, 86%, 94%)
- Slate 300: hsl(203, 41%, 72%)
- Slate 500: hsl(200, 26%, 54%)
- Slate 700: hsl(200, 24%, 40%)
- Slate 900: hsl(202, 55%, 16%)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
form,
button,
div {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: hsl(202, 86%, 94%);
}

#card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 60rem;
  margin: auto;
  margin-top: 25vh;
}

#left {
  grid-column: 1/2;
  padding: 2rem;
}

#right {
  grid-column: 2/3;
  background-color: hsl(202, 55%, 16%);
  color: white;
}

/*Form start -----------------------------------------------------------------*/
form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}


#formTitle {
  grid-column: 1/5;
  width: 100%;
}

#clearAll {
  grid-column: 5/7;
  width: 100%;
  text-align: right;
  align-self: last baseline;
}

.inputType {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: hsl(200, 24%, 40%);
  background-color: hsl(202, 86%, 94%);
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  border: solid, 1px, hsl(200, 24%, 40%);
  border-radius: 5px;
}

form input {
  border-radius: 5px;
  border: none;
}

/*Amount start ------------------------------------------------*/
#amount {
  grid-column: 1/7;
  width: 100%;
}

#amountWrapper {
  height: 2.5rem;
  margin-top: 0.5rem;
  display: flex;

}

#pound {
  border-radius: 5px 0 0 5px;
}

#amountInput {
  border: none;
  flex-grow: 1;
}

/*Amount end --------------------------------------------------*/



/*Term start --------------------------------------------------*/

#term {
  grid-column: 1/4;
  width: 100%;
}

#termWrapper {
  margin-top: 0.5rem;
  height: 2.5rem;
  display: flex;
}

#years {
  border-radius: 0 5px 5px 0;
}

#termInput {
  width: 100%;
  flex-grow: 1;
}

/*Term end ----------------------------------------------------*/



/*Interest rate start -----------------------------------------*/

#interestRate {
  grid-column: 4/7;
  width: 100%;
}

#interestRateWrapper {
  margin-top: 0.5rem;
  height: 2.5rem;
  display: flex;
}

#percent {
  border-radius: 0 5px 5px 0;
}

#interestRate input {
  width: 100%;
  flex-grow: 1;
}

/*Interest rate end -------------------------------------------*/


#radioButtons {
  grid-column: 1/7;
  width: 100%;
}

#repayment {
  width: 100%;
  border: solid 1px black;
  height: 2.5rem;
  margin-top: 0.5rem;
}

#interestOnly {
  width: 100%;
  border: solid 1px black;
  height: 2.5rem;
  margin-top: 0.5rem;
}

form button {
  grid-column: 1/5;
  height: 2.5rem;
  margin-top: 0.5rem;

}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label {
  margin-bottom: 1rem;
}
